
<center>
    THE HEDGES
<br>
    BAY SHORE, NEW YORK
<br>
    <h2>W O R K  |  O R D E R  |  H U B </h2>
 
<br>
    <%= link_to "Log In", login_path %>
<br>
    <%= link_to "Sign Up", signup_path %>
</center>